@media print {

	@page {
		size: A5;
		margin: 0;
	}
}

html {
	margin: 0px;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
}

label {
	margin-left: 5px;
}

ul {
	margin: 0;
	padding-inline-start: 12px;
}

li {
	margin-bottom: 6px;
}