@media print {

	@page {
		/* size: A5; */
		margin: 0;
	}
}

* {
	box-sizing: border-box;
}

html {
	margin: 0px;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;

	content-visibility: auto;
}

label {
	margin-left: 5px;
}

ul {
	margin: 0;
	padding-inline-start: 12px;
}

li {
	margin-bottom: 6px;
}